.footer {
  max-width: 194px;
  color: #ffffff;
  margin: auto;
  padding-bottom: 24px;
  padding-top: 10px;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 46px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding-top: 15px;
  }
}
