.header__lead {
  max-width: 984px;
  width: 100%;
  margin: auto;
  padding-top: 91px;
}

.header__title {
  max-width: 720px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

.header__subtitle {
  max-width: 720px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding-top: 32px;
}

.header__image {
  width: 100%;
  display: block;
  max-width: 984px;
  height: auto;
  margin: 64px auto 0;
  box-shadow: 10px 10px 25px 0px #00000080;
}

@media screen and (max-width: 1024px) {
  .header__lead {
    max-width: 720px;
    margin: 0 auto 0;
    padding-top: 90px;
  }

  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1.05;
    text-align: center;
  }

  .header__subtitle {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding-top: 25px;
  }

  .header__image {
    max-width: 768px;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 544px) {
  .header__lead {
    max-width: 288px;
    margin: 0 auto 0;
    padding-top: 50px;
  }

  .header__title {
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 0.8;
    text-align: center;
    padding-top: 16px;
  }

  .header__image {
    max-width: 320px;
    margin: 40px auto 0;
  }
}
