.photo-grid {
  max-width: 1184px;
  margin: auto;
  padding: 118px 0 92px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 284px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 720px;
    padding: 64px 0 88px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 16px;
  }

  .photo-grid__item {
    max-width: 352px;
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 288px;
    padding: 38px 0 62px 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }

  .photo-grid__item {
    width: 100%;
  }
}
