.places {
  max-width: 984px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
}

.places__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  max-width: 460px;
}

.places__image {
  max-width: 460px;
  grid-row: 2 / 3;
  width: 100%;
}

.places__website {
  margin: 0;
  padding-top: 90px;
}

.places__website-title {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.places__website-artist {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.places__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-column: 2/3;
}

.places__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  padding: 13px 20px 13px 20px;
  background-image: linear-gradient(#0278fe, #003a7b);
  border: none;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 0px #00000040;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    margin: auto;
  }

  .places__place {
    column-gap: 28px;
    margin-bottom: 47px;
  }
  .places__title {
    font-size: 42px;
    line-height: 1.09;
    padding: 0;
    margin-bottom: 48px;
  }
  .places__image {
    max-width: 340px;
  }

  .places__website {
    max-width: 352px;
    padding: 0;
    margin-bottom: 48px;
  }

  .places__websites-artist {
    font-size: 17px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 288px;
    margin: auto;
  }

  .places__place {
    display: flex;
    flex-direction: column;
  }
}
