.places {
  max-width: 984px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
}

.places__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  max-width: 460px;
}

.places__image {
  max-width: 460px;
  grid-row: 2 / 3;
  width: 100%;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.places__image:hover {
  opacity: 0.5;
}

.places__website {
  margin: 0;
  padding-top: 110px;
}

.places__website_modified {
  padding-top: 130px;
}

.places__website-title {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.places__website-artist {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.places__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-column: 2/3;
  grid-row: 2/4;
}

.places__paragraph_first {
  margin: 0;
  padding-bottom: 25px;
}

.places__paragraph_second {
  margin: 0;
  padding-bottom: 25px;
}

.places__paragraph_third {
  margin: 0;
}

.places__button {
  max-width: 289px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  padding: 18px;
  background-image: linear-gradient(#0278fe, #003a7b);
  border: none;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 0px #00000040;
  color: #ffffff;
  height: 55px;
  text-align: center;
  text-decoration: none;
}

.places__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px #00000040;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    margin: auto;
  }

  .places__place {
    column-gap: 28px;
    margin-bottom: 47px;
    gap: 48px 28px;
  }
  .places__title {
    font-size: 42px;
    line-height: 1.09;
    padding: 0;
    align-self: end;
  }
  .places__image {
    max-width: 340px;
  }

  .places__website {
    max-width: 352px;
    padding: 0;
    align-self: end;
  }

  .places__websites-artist {
    font-size: 17px;
  }

  .places__paragraphs {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 288px;
    margin: auto;
  }

  .places__place {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }

  .places__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0;
    order: -3;
    align-self: normal;
  }

  .places__website {
    margin: 0;
    order: -1;
    align-self: normal;
  }

  .places__button {
    font-size: 16px;
    text-align: center;
  }
}
